---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = site.var_less_than_a_minute_read %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
{% endif %}

<article>
  <span class="meta">{{ page.date | date: site.date_format }} • {{ read-time }}</span>
  <h1>{{ page.title }}</h1>
  {% if page.toc %}
  <div class="toc-container">
    <h2 id="toc-title" class="toc-title">목차</h2>
    {{ content | toc_only }}
  </div>
  {% endif %}
  {{ content }}
  {% if site.display-author-post-page %}
    {% if page.author.name %}
      <small><em>{{ site.var_guest_post_by }}: {{ page.author.name }} {{ page.author.info }}</em></small>
    {% else %}
      {% if site.author.name %}
        <small><em>{{ site.var_post_by }}: {{ site.author.name }} {{ site.author.info }}</em></small>
      {% endif %}
    {% endif %}
  {% endif %}
  <div class="category-container">
    <span>Category: {{ page.categories[0] }}</span>
  </div>
</article>

{% include related-posts.html %}

{% if site.disqus-shortname %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{ site.disqus-shortname }}'; // Required - Replace '<example>' with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
